<div class="app-container">
  <header class="arm-header animate-fade-in" id="site-header">
    <div class="container">
      <div class="arm-header-inner">
        <a href="/" class="arm-logo arm-logo-title-web">
          <span>A</span>{{ profile.fullName }}</a
        >
        <a href="/" class="arm-logo arm-logo-title-mobile">
          <span>A</span>{{ profile.shortName }}</a
        >
        <ul class="arm-social">
          <li>
            <a [href]="profile.social.github" target="_blank"
              ><i class="ri-github-fill"></i
            ></a>
          </li>
          <li>
            <a [href]="profile.social.linkedin" target="_blank"
              ><i class="ri-linkedin-fill"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
<div class="arm-banner animate-slide-up" id="bannerData" #bannerData>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
        <figure class="animate-scale-in">
          <img
            class="arm-logo-image"
            width="853"
            height="845"
            ngSrc="assets/images/profile.png"
            priority
            alt="Profile Image"
          />
        </figure>
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
        <section class="animate-slide-right">
          <h1 class="animate-typing">
            <span class="animate-bounce">HELLO</span>
            <div [innerHTML]="profile.title"></div>
          </h1>
          <ul class="arm-numbervalulist animate-stagger">
            <li>
              <strong>{{ profile.count.experience }}+</strong>
              <span>Years of Experience</span>
            </li>
            <li>
              <strong>{{ profile.count.projects }}+</strong>
              <span>Projects</span>
            </li>
            <li>
              <strong>{{ profile.count.client }}+</strong>
              <span>Clients</span>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="arm-about-section animate-fade-in-up" id="aboutData" #aboutData>
  <div class="container">
    <section>
      <h2 class="arm-heading">ABOUT ME</h2>
      <div [innerHTML]="profile.aboutMe"></div>
    </section>
  </div>
</div>

<div class="arm-experience-section animate-fade-in-up" id="experienceData" #experienceData>
  <div class="container">
    <h2 class="arm-heading">PROFESSIONAL EXPERIENCE</h2>
    <div class="row arm-experience-list">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mb-5 animate-slide-in-left"
        *ngFor="let experience of profile.experience"
      >
        <section>
          <span class="arm-year">{{ experience.period }}</span>
          <h3 class="arm-officename">{{ experience.title }}</h3>
          <span class="arm-department">{{ experience.location }}</span>
          <ul>
            <li *ngFor="let item of experience.description">{{ item }}</li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="arm-experience-section animate-fade-in-up" id="educationData" #educationData>
  <div class="container">
    <h2 class="arm-heading">EDUCATION</h2>
    <div class="row arm-experience-list">
      <div
        class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 arm-box animate-slide-in-right"
        *ngFor="let education of profile.education"
      >
        <section>
          <span class="arm-year">{{ education.period }}</span>
          <h3 class="arm-officename">{{ education.location }}</h3>
          <span class="arm-department">{{ education.title }}</span>
          <p>GPA: {{ education.value }}</p>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="arm-skills-section animate-fade-in-up" id="awardData" #awardData>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <h2 class="arm-heading">ACHIEVEMENTS & CERTIFICATIONS</h2>
        <ul class="arm-award">
          <li *ngFor="let award of profile.award">
            <strong>{{ award.title }}</strong> <br />
            <p>{{ award.description }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="arm-skills-section animate-fade-in-up" id="skillsData" #skillsData>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 class="arm-heading">TECHNICAL SKILLS</h2>
        <ul class="arm-skills-list animate-stagger">
          <li *ngFor="let skills of profile.coreSkills">{{ skills }}</li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h2 class="arm-heading">METHODOLOGIES</h2>
        <ul class="arm-workflow-list animate-stagger">
          <li *ngFor="let workflow of profile.workflows">
            {{ workflow }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="arm-work-section animate-fade-in-up">
  <div class="container">
    <h2 class="arm-heading" id="latestWorkTitle" #latestWorkTitle>
      FEATURED PROJECTS
    </h2>
    <div class="arm-work-slider-container">
      <div class="arm-work-slider" #workSlider>
        <div
          class="arm-work-slide"
          *ngFor="let latestWork of profile.latestWork; let i = index"
          [class.active]="i === currentSlide"
        >
          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
              <section class="arm-latestwork-mobile">
                <h3 class="arm-work-tilte">{{ latestWork.title }}</h3>
                <p>
                  {{ latestWork.description }}
                </p>
                <a [href]="latestWork.link" class="arm-button" target="_blank"
                  >See Project</a
                >
              </section>
            </div>
            <div
              class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5 d-flex align-items-center"
            >
              <figure>
                <img
                  [src]="latestWork.picture"
                  class="arm-logo-image"
                  loading="lazy"
                  alt="Latest Work"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="arm-slider-controls">
        <button 
          class="arm-slider-btn arm-slider-prev" 
          (click)="previousSlide()"
          [disabled]="currentSlide === 0"
        >
          <i class="ri-arrow-left-line"></i>
        </button>
        <div class="arm-slider-dots">
          <button
            *ngFor="let dot of profile.latestWork; let i = index"
            class="arm-slider-dot"
            [class.active]="i === currentSlide"
            (click)="goToSlide(i)"
          ></button>
        </div>
        <button 
          class="arm-slider-btn arm-slider-next" 
          (click)="nextSlide()"
          [disabled]="currentSlide === 11"
        >
          <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>
  </div>
</div>
